.main{
    width: 100vw;
    height: 90vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}


@media screen and (max-width:900px) {
    .main{
        width: 100vw;
        height: 90vh;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
}