.conversation{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}
@media screen and (max-width:1000px) {
    .conversation{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}