*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #858585 #ffffff;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

